@import "abstracts/mixins";

.form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  &__group {
    flex: none;
    width: 100%;
  }

  &__control {
    width: 100%;
    padding: 1rem;
    background-color: var(--form-control-background-color);
    border-radius: $default-border-radius;
    border: none;

    &::placeholder {
      color: var(--placeholder-color);
    }

    &--placeholder {
      color: var(--placeholder-color);
    }
  }

  &__alerts-container {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__alert {
    font-size: 0.75rem;
    color: var(--error-color);
  }

  @include media-breakpoint-up("md") {
    &__group {
      width: calc(50% - 0.5rem);

      &--full-width {
        width: 100%;
      }
    }
  }
}
