.section {
  padding: 7rem 0;

  &--primary-background-color {
    background-color: var(--primary-background-color);
  }

  &--secondary-background-color {
    background-color: var(--secondary-background-color);
  }
}
