@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: block;
}

.hero {
  height: 90vh;
  position: relative;
  background-image: $radial-dark-overlay, $solid-dark-overlay,
    url("/assets/images/hero-background-image.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__opening-hours {
    margin-bottom: 2rem;
  }

  &__contact-button-container {
    width: 100%;
    position: relative;
  }

  &__contact-button-inner-container {
    position: absolute;
    top: -$default-header-height;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }

  &__contact-button {
    width: 9.5rem;
    height: 2.75rem;

    position: absolute;
    bottom: calc(100% - 2.75rem - $default-header-height);
    right: calc(50% - 9.5rem / 2);
    z-index: 1;

    overflow: hidden;
    box-shadow: none;
    pointer-events: all;

    @include with-transition(all, 0.375s);

    &--fixed {
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      border-radius: 50%;
      box-shadow: $default-box-shadow;
      gap: 1rem;
    }
  }

  &__contact-button-icon,
  &__contact-button-label {
    flex: none;
  }

  &__contact-button-icon {
    @include with-transition(all, 0.375s);

    &--fixed {
      width: 100%;
      height: 100%;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  text-align: center;
  color: var(--primary-font-color);
}
