:host {
  display: block;
}

.section {
  min-height: 65vh;
  position: relative;
}

.container {
  display: grid;
  // 320px is just too much to fit 4 items next to each other
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
