:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.document-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__item-content-left-side {
    flex: 1;
  }

  &__more-button-container {
    height: 2rem;
    display: flex;
    align-items: center;
  }

  &__more-button-inner-container {
    position: relative;
  }

  &__allergene {
    color: var(--primary-font-color);
    line-height: 2rem;
  }
}

.icon-button {
  padding: 0.5rem;
  margin: -0.5rem;

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.button {
  align-self: flex-start;
}
