<!-- Set to lg breakpoint to avoid clipping between the logout
button and the navigation items
-->
<shared-header
  *sharedMedia="'(max-width: 991px)'"
  [navigationItems]="navigationItems"
  [feature]="Feature.ADMIN_SPACE"
  (clickLogoutButton)="onClickLogoutButton()"
></shared-header>
<shared-desktop-header
  *sharedMedia="'(min-width: 992px)'"
  [navigationItems]="navigationItems"
  [feature]="Feature.ADMIN_SPACE"
  (clickLogoutButton)="onClickLogoutButton()"
></shared-desktop-header>
<router-outlet></router-outlet>
<shared-dark-overlay *ngIf="shouldShowSpinner">
  <shared-spinner> </shared-spinner>
</shared-dark-overlay>
<admin-space-toast
  *ngIf="currentToast"
  [type]="currentToast.type"
  [message]="currentToast.message"
></admin-space-toast>
