// Fonts
$primary-font-regular: "Papyrus-Regular";
$primary-font-bold: "Papyrus-Bold";

$secondary-font-light: "Montserrat-Light";
$secondary-font-regular: "Montserrat-Regular";
$secondary-font-bold: "Montserrat-Bold";

// Bootstrap breakpoints
$grid-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$container-widths: (
  "xs": 100%,
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px,
  "xxl": 1320px,
);

// Misc
$default-border-radius: 0.5rem;
$default-box-shadow: 0px 4px 4px rgba(95, 95, 95, 0.25);
$radial-dark-overlay: radial-gradient(
  66.66% 50% at center,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 80%,
  rgba(0, 0, 0, 0.4) 100%
);
$solid-dark-overlay: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

.default-section-padding {
  --section-padding: 7rem 0;
}

.reduced-section-padding {
  --section-padding: 4.5rem 0 7rem 0;
}
