:host {
  display: block;
}

.dark-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba($color: #000000, $alpha: 0.7);
  padding: 5rem 0;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
}
