:host {
  display: block;
}

.news-section {
  text-align: center;

  &__header {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  &__news-card-container {
    padding-top: 3rem;
    width: 100%;
    min-height: 400px;
    position: relative;
  }

  &__news-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
