@import "abstracts/mixins";

:host {
  display: block;
}

.news-section {
  text-align: center;

  &__header {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  &__news-cards-container {
    padding-top: 3rem;
    width: 100%;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__news-card {
    width: 100%;
    flex: none;
  }

  @include media-breakpoint-up("md") {
    &__news-card {
      width: calc(50% - 1rem / 2);
    }
  }

  @include media-breakpoint-up("xl") {
    &__news-card {
      width: calc(1 / 3 * 100% - 2rem / 3);
    }
  }
}
