:host {
  display: block;
}

.news-section {
  text-align: center;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  &__news-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
