<section class="section section--secondary-background-color news-section">
  <div class="container">
    <user-space-section-header
      title="Neuigkeiten von Thai Rin Ruam"
      subtitle="Aktuelles"
    ></user-space-section-header>
    <div class="news-section__body">
      <user-space-news-card
        [news]="news"
        class="news-section__news-card"
        sharedFadeIn
      ></user-space-news-card>
      <a class="button button--embedded" routerLink="/news" sharedFadeIn>
        <svg
          class="button__icon button__icon--embedded"
          width="21"
          height="21"
          viewBox="0 0 21 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_312_7665)">
            <path
              d="M4.66666 3.30005L7.21416 0.800049L17.1667 10.8L7.21416 20.8L4.66666 18.3L12.1667 10.8L4.66666 3.30005Z"
              fill="#5C5C5C"
            />
          </g>
          <defs>
            <clipPath id="clip0_312_7665">
              <rect
                width="20"
                height="20"
                fill="white"
                transform="translate(0.5 0.800049)"
              />
            </clipPath>
          </defs>
        </svg>

        <p class="button__label button__label--embedded">Alle Neuigkeiten</p>
      </a>
    </div>
  </div>
</section>
