<user-space-page-banner
  title="Über&NonBreakingSpace;Uns"
  xsImageUrl="/assets/images/about-us-banner-image.jpg"
  smImageUrl="/assets/images/about-us-banner-image.jpg"
  mdImageUrl="/assets/images/about-us-banner-image.jpg"
  lgImageUrl="/assets/images/about-us-banner-image.jpg"
  xlImageUrl="/assets/images/about-us-banner-image.jpg"
  xxlImageUrl="/assets/images/about-us-banner-image.jpg"
></user-space-page-banner>
<user-space-about-us-section
  class="reduced-section-padding"
  [shouldHaveSectionHeader]="false"
></user-space-about-us-section>
