<div class="editable-select">
  <div class="editable-select__input-container form__control">
    <label class="editable-select__label" [for]="inputId"></label>
    <admin-space-chip
      *ngFor="let selectedOption of selectedOptions"
      class="editable-select__chip"
      [label]="selectedOption.label"
      (clickChip)="onClickChip(selectedOption)"
    ></admin-space-chip>
    <input
      [id]="inputId"
      #editableSelect
      class="editable-select__input"
      type="text"
      [value]="inputValue"
      [placeholder]="
        type === SelectType.SINGLE && selectedOptions.length === 1
          ? ''
          : placeholder
      "
      [disabled]="type === SelectType.SINGLE && selectedOptions.length === 1"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (keyup)="onKeyUp(editableSelect.value)"
      (keyup.escape)="hideDropdownMenu()"
      (keydown.enter)="onEnter($event)"
    />
  </div>
  <div
    class="editable-select__dropdown-menu-container card"
    [ngClass]="{
      'editable-select__dropdown-menu-container--visible':
        shouldShowDropdownMenu
    }"
    [style.height]="
      shouldShowDropdownMenu && (filteredOptions.length > 0 || hasCreateOption)
        ? 'calc(3.25rem * ' +
          (hasCreateOption
            ? filteredOptions.length + 1
            : filteredOptions.length) +
          ')'
        : '0px'
    "
  >
    <ul>
      <li
        *ngFor="let filteredOption of filteredOptions"
        class="editable-select__item"
      >
        <button
          class="editable-select__button"
          (click)="onClickDropdownMenuItem(filteredOption)"
        >
          {{ filteredOption.label }}
        </button>
      </li>
      <li *ngIf="hasCreateOption" class="editable-select__item">
        <button class="editable-select__button" (click)="onClickCreateButton()">
          Erstelle "{{ inputValue }}"
        </button>
      </li>
    </ul>
  </div>
</div>
