.dark-theme {
  --primary-font-color: #ffffff;
  --secondary-font-color: #e2e2e2;
  --primary-background-color: #2a2a2a;
  --secondary-background-color: #3a3a3a;
  --divider-color: #e2e2e2;
  --primary-accent-color: hsl(172, 33%, 39%);
  --primary-accent-color-hover: hsl(172, 33%, 34%);
  --primary-accent-color-disabled: hsl(173, 29%, 63%);
  --secondary-accent-color: #d8e8a1;
  --placeholder-color: #999999;
  --form-control-background-color: #ececec;
  --success-color: #66cc66;
  --info-color: #6666cc;
  --warn-color: #cccc66;
  --error-color: #cc6666;
}
