.light-theme {
  --primary-font-color: #303030;
  --secondary-font-color: #5c5c5c;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f6f6f6;
  --divider-color: #e5e5e5;
  --primary-accent-color: #42837a;
  --primary-accent-color-hover: hsl(172, 33%, 34%);
  --secondary-accent-color: #d8e8a1;
  --placeholder-color: #999999;
}
