@import "abstracts/mixins";

.fade-in {
  opacity: 0;
  @include with-transition(opacity, 0.5s);

  &--visible {
    opacity: 1;
  }
}

:root {
  --section-padding: 7rem 0;

  @include media-breakpoint-up("md") {
    --section-padding: 9rem 0;
  }
}

.reduced-section-padding {
  --section-padding: 4.5rem 0 7rem 0;
}
