<admin-space-create-modal
  title="Gericht erstellen"
  (clickCloseButton)="clickCloseButton.emit()"
  (clickCancelButton)="clickCancelButton.emit()"
  (clickSaveButton)="clickSaveButton.emit($event)"
>
  <form
    id="create-form"
    class="form"
    #form="ngForm"
    (ngSubmit)="clickSaveButton.emit(form)"
  >
    <div class="form__group">
      <input
        class="form__control"
        type="number"
        placeholder="Nummer"
        name="number"
        [(ngModel)]="dish.number"
        #number="ngModel"
        required
      />
      <div
        *ngIf="number.touched && number.invalid"
        class="form__alerts-container"
      >
        <p *ngIf="number.errors?.['required']" class="form__alert">
          Du musst etwas eingeben
        </p>
      </div>
    </div>
    <div class="form__group">
      <input
        class="form__control"
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="dish.name"
        #name="ngModel"
        required
      />
      <div *ngIf="name.touched && name.invalid" class="form__alerts-container">
        <p *ngIf="name.errors?.['required']" class="form__alert">
          Du musst etwas eingeben
        </p>
      </div>
    </div>
    <div class="form__group">
      <input
        class="form__control"
        type="text"
        placeholder="Thailändischer Name"
        name="thaiName"
        [(ngModel)]="dish.thaiName"
        #thaiName="ngModel"
        required
      />
      <div
        *ngIf="thaiName.touched && thaiName.invalid"
        class="form__alerts-container"
      >
        <p *ngIf="thaiName.errors?.['required']" class="form__alert">
          Du musst etwas eingeben
        </p>
      </div>
    </div>
    <div class="form__group">
      <input
        class="form__control"
        type="number"
        placeholder="Preis"
        name="price"
        [(ngModel)]="dish.price"
      />
    </div>
    <div class="form__group">
      <select
        class="form__control"
        name="hotnessLevel"
        [(ngModel)]="dish.hotnessLevel"
        #hotnessLevel="ngModel"
        required
      >
        <option value="" selected disabled hidden>Schärfe</option>
        <option *ngFor="let hotnessLevel of hotnessLevels">
          {{ hotnessLevel }}
        </option>
      </select>
      <div
        *ngIf="hotnessLevel.touched && hotnessLevel.invalid"
        class="form__alerts-container"
      >
        <p *ngIf="hotnessLevel.errors?.['required']" class="form__alert">
          Du musst etwas eingeben
        </p>
      </div>
    </div>
    <div class="form__group">
      <admin-space-editable-select
        placeholder="Allergene/Zusatzstoffe"
        [options]="allergeneOptions"
        [isEditable]="false"
        name="selectedAllergenes"
        [ngModel]="selectedAllergeneOptions"
        (ngModelChange)="onChangeSelectedAllergeneOptions($event)"
      ></admin-space-editable-select>
    </div>
    <div class="form__group">
      <select
        class="form__control"
        name="category"
        [(ngModel)]="dish.category"
        #category="ngModel"
        required
      >
        <option value="" selected disabled hidden>Kategorie</option>
        <option *ngFor="let category of dishCategories">
          {{ category.name }}
        </option>
      </select>
      <div
        *ngIf="category.touched && category.invalid"
        class="form__alerts-container"
      >
        <p *ngIf="category.errors?.['required']" class="form__alert">
          Du musst etwas eingeben
        </p>
      </div>
    </div>
    <div class="form__group">
      <admin-space-editable-select
        placeholder="Gruppe"
        [options]="dishGroupOptions"
        [type]="SelectType.SINGLE"
        name="group"
        [ngModel]="selectedDishGroupOptions"
        (ngModelChange)="onChangeSelectedDishGroupOptions($event)"
      ></admin-space-editable-select>
    </div>
    <div class="form__group">
      <textarea
        class="form__control"
        placeholder="Beschreibung"
        rows="10"
        name="description"
        [(ngModel)]="dish.description"
      >
      </textarea>
    </div>
    <hr class="divider" />
    <button
      class="button button--embedded"
      (click)="onClickAddDishOptionButton()"
    >
      <svg
        class="button__icon button__icon--embedded"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 8.33333H11.6667V0H8.33333V8.33333H0V11.6667H8.33333V20H11.6667V11.6667H20V8.33333Z"
          fill="#5C5C5C"
        />
      </svg>
      <p class="button__label button__label--embedded">Option hinzufügen</p>
    </button>
  </form>
  {{ dish | json }}
</admin-space-create-modal>
