<user-space-page-banner
  title="Kontakt"
  xsImageUrl="/assets/images/contact-page-banner-image.jpg"
  smImageUrl="/assets/images/contact-page-banner-image.jpg"
  mdImageUrl="/assets/images/contact-page-banner-image.jpg"
  lgImageUrl="/assets/images/contact-page-banner-image.jpg"
  xlImageUrl="/assets/images/contact-page-banner-image.jpg"
  xxlImageUrl="/assets/images/contact-page-banner-image.jpg"
></user-space-page-banner>
<user-space-location-section
  class="reduced-section-padding"
  [shouldHaveSectionHeader]="false"
></user-space-location-section>
