@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: block;
}

.news-card {
  padding: 2.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;

  &__header {
    display: flex;
    gap: 0.625rem;
  }

  &__date {
    display: block;
    line-height: calc(1.5rem * 1.5);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__content-image-links-container {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    margin: 0 -0.75rem;
    padding: 0 0.75rem;
  }

  &__content-image-link {
    flex: none;
    display: block;
    width: 150px;
  }

  &__content-image {
    border-radius: $default-border-radius;
  }

  &__footer {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__author-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: $default-box-shadow;
  }

  @include media-breakpoint-up("md") {
    padding: 2.5rem;
  }
}

.tertiary-heading {
  flex: 1;
}
