<article *ngIf="news" class="news-card">
  <header class="news-card__header">
    <h3 class="tertiary-heading">{{ news.title }}</h3>
    <time class="news-card__date">{{ news.date | date: "dd.MM.yyyy" }}</time>
  </header>
  <div class="news-card__body">
    <p [innerText]="news.text"> </p>
    <div class="news-card__content-image-links-container">
      <a
        *ngFor="let imageUrl of news.imageUrls"
        class="news-card__content-image-link"
        [href]="imageUrl"
        target="_blank"
      >
        <div class="padding-top padding-top--4-by-3">
          <div class="padding-top__inner-container">
            <img class="news-card__content-image" [src]="imageUrl" alt="" />
          </div>
        </div>
      </a>
    </div>
  </div>
  <hr class="divider" />
  <footer class="news-card__footer">
    <img [src]="news.author.avatarUrl" alt="" class="news-card__author-image" />
    <p class="news-card__author">
      <span class="subtitle">Ihr</span><br />
      {{ news.author.name }}
    </p>
  </footer>
</article>
