@import "abstracts/variables";

:host {
  display: block;
}

.section {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.news {
  &__cards-container {
    width: 100%;
    display: grid;
    // 320px is just too much to fit 4 items next to each other
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    min-height: 400px;
  }

  &__card-container {
    position: relative;
  }

  &__more-button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__more-button {
    padding: 0.75rem;
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    box-shadow: $default-box-shadow;
  }
}
