@use "sass:map";
@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: block;
}

.modal {
  width: 100%;
  max-width: map.get($container-widths, "xl");
  margin: 0 auto;
  padding: 2.5rem 0.75rem;

  &__header {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: baseline;
  }

  &__body {
    margin-bottom: 2rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.625rem;
  }

  @include media-breakpoint-up("md") {
    padding: 2.5rem;
  }
}

.secondary-heading {
  flex: 1;
}
