<div class="dish-categories-tab-bar">
  <ng-container *ngFor="let dishCategory of dishCategories">
    <input
      [id]="dishCategory.name"
      class="dish-categories-tab-bar__radio-input"
      type="radio"
      [value]="dishCategory.name"
      [checked]="dishCategory.name === selectedDishCategory?.name"
      (change)="changeTab.emit(dishCategory.name)"
    />
    <label
      class="dish-categories-tab-bar__radio-label"
      [for]="dishCategory.name"
      >{{ dishCategory.name }}
    </label>
  </ng-container>
</div>
