@import "abstracts/mixins";

:host {
  display: block;
}

.dish-category-card {
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tertiary-heading {
  padding: 1rem;
  text-align: center;
}

.aspect-ratio {
  padding-top: calc(2 / 5 * 100%);

  @include media-breakpoint-up("md") {
    padding-top: 100%;
  }
}
