@import "abstracts/variables";

:host {
  display: block;
}

.page-banner {
  height: 45vh;
  max-height: 500px;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $radial-dark-overlay, $solid-dark-overlay;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
