@import "abstracts/variables";

:host {
  display: block;
}

.page-banner {
  height: 45vh;
  position: relative;
  background-size: cover;
  background-position: center;

  &__title {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
