@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: none;
  @include with-transition(all);

  &.light-theme {
    box-shadow: 0 4px 4px 0 #b3b3b340;
  }

  &__top-row {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: $default-header-height;
  }

  &__logo-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo,
  &__burger-menu-icon {
    @include with-transition(fill);
  }

  &__logo {
    fill: var(--primary-font-color);
  }

  &__burger-menu-button {
    margin-left: auto;
  }

  &__burger-menu-icon {
    fill: var(--secondary-font-color);
  }
}

.drop-down-menu {
  background-color: var(--primary-background-color);
  height: 0px;
  @include with-transition(height);
  overflow: hidden;

  &--expanded {
    height: calc(1.5rem * 2 + 2.5rem * 4);
  }

  &__list {
    padding: 1.5rem 0;
  }

  &__link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    text-align: center;
    font-family: $primary-font-bold;
    text-transform: uppercase;
    line-height: 1.5;
  }
}

.dark-theme {
  --primary-background-color: transparent;
}
