@import "abstracts/mixins";

:host {
  display: block;
}

.footer {
  padding: 7rem 0;
  background-color: var(--primary-background-color);
  text-align: center;

  &__logo {
    width: 170.1px;
    height: auto;
  }

  &__contact-information-blocks-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__links-container {
    display: flex;
    gap: 1rem;
  }

  &__link {
    width: 100px;
    font-size: 0.75rem;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  &__vertical-divider {
    width: 1px;
    background-color: var(--secondary-font-color);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.contact-information-block {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-font-color);
  }
}
