:host {
  display: block;
}

.form__control {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.file-input {
  &__icon {
    fill: var(--placeholder-color);
  }

  &__label {
    color: var(--placeholder-color);
  }

  &__input {
    display: none;
  }
}
