*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  // Weird flexbox bug occurrs when a svg with a set max-width is
  // inside a flexbox inside an absolutely positioned element. The flexbox
  // somehow ignores the actual width of the svg when the max-width
  // property is present.
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}
