*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}
