@import "abstracts/variables";

:host {
  display: block;
  transform-style: preserve-3d;
}

.menu {
  &__select {
    width: 100%;
    padding: 1rem;
    background-color: #ececec;
    border-radius: $default-border-radius;
    border: none;
    margin-bottom: 2rem;
  }

  &__dish-category-tab-header {
    margin-bottom: 4rem;
  }
}

.dish-group {
  margin-bottom: 4rem;

  &__heading {
    color: var(--primary-accent-color);
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.divider {
  margin-bottom: 4rem;
}
