@import "abstracts/variables";

:host {
  display: block;
}

.menu {
  &__select {
    width: 100%;
    padding: 1rem;
    background-color: #ececec;
    border-radius: $default-border-radius;
    border: none;
    margin-bottom: 2rem;
  }

  &__dish-category-tab-header {
    margin-bottom: 4rem;
  }
}
